.create-post-form {
  padding: 24px;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.half-width {
  width: 50%;
  min-width: 320px;
  margin-bottom: 16px;
}

.button-row {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
